/* Stylesheet for Mod2 Solution*/

/* base styles*/
* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 12px;
}

/*-------- header4 styles --------*/
.upper-row{
  height: 40px;
}

.lower-row{
  height: 120px;
}

#container1{
  background-color: #a5300f;
  padding-left: 80px;
}

h1{
  font-size: 1.6em;
  color: #e5c039;
}

#container2{
  background-color: #e5c039;
  color: #e5c039;
}

#container3{
  background-color: #a5300f;
  color:  #e5c039;
  text-decoration: none;
  
 }

#container3 > p{
  margin-left: 12px;
  margin-top: 8px;
  font-size: 1.2em;
  font-weight: bold;
}

#container5{
  background-color: #e5c039;
  color: #e5c039; 
}
/*---------------------------------------------
#flag { 
 width: 80px;
 height: 120px;
 padding-top: 15px;
 position: relative;
 background: #e5c039;
 color: white;
 font-size: 11px;
 letter-spacing: 0.2em;
 text-align: center;
 text-transform: uppercase;
}

#flag:after {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px
  solid transparent;
  border-right: 55px solid transparent;
}
/*---------------------------------------------*/
#container6{
  color: white;
}

.con4-elements{
  padding-top: 10px;
   height: 120px;
}

#my-name{
  font-size: 2.5em;
  font-weight: bold;
  padding-left: 25px;
}
#my-info > ul{
  list-style-type: none;
  padding-right: 15px;
  margin-top: -4px;
  line-height: 2;
  text-align: right;
}

/*-------- main content styles --------*/

.resume-item{
  margin-left: 25px;
  margin-right: 8px;
  margin-bottom: 15px;
  position: relative;
}

.title-region{
  height: 24px;
  position: relative;
  margin-bottom: 6px;
  margin-top: -2px;
  font-weight: bold;
  font-size: 225%;
  color: #a5300f;
}

.subtitle-region{
  color: #a5300f;
}

p{
  margin-top: 4px;
}

.item-text{
  clear: left;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

#item-text2 > ul > ul, #item-text2. li{
  list-style-type: none;
}

#resume-item-8{
  float: left;
}

table{
  margin-bottom: 10px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/*styles for large screens (desktops)*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .lower-row {
   height: 150px;
  }
  #container4{
    margin-top: 20px;
  }
}

/*styles for medium screens (tablets)*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;

  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}


/*styles for small screens (Mobiles)*/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%; 
  }
}